{% extends 'base.html.twig' %}

{% block body %}
    <h1>Type_contrat</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ type_Contrat.id }}</td>
            </tr>
            <tr>
                <th>Libelletypec</th>
                <td>{{ type_Contrat.libelleTypeC }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('type_contrat_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('type_contrat_edit', { 'id': type_Contrat.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
