
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        &times;
    </button>
    <h4 class="modal-title" id="myModalLabel"> Type_qualification edit</h4>
</div>
<div class="modal-body">
    {{ form_start(edit_form,{'attr':{'class':'smart-form','id':'smart-form-register','action':path('qualification_edit',{'id': type_Qualification.id}),'method':'POST'|trans}})}}

    <section>
        <label class="label">LibelleQualification</label>
        <label class="input">
            <i class="icon-append fa fa-tag"></i>
            {{ form_widget(edit_form.libelleTypeQ,{'attr': {'type':'text','name':'typeQual','placeholder':'Type_Qualification'|trans}}) }}
            {{ form_errors(edit_form.libelleTypeQ)}}
        </label>
    </section>

</div>
<div class="modal-footer">
    {{ form_widget(edit_form._token) }}

    <footer>
        <button type="button" class="btn btn-default" data-dismiss="modal">
            Cancel
        </button>
        <button type="submit" class="btn btn-primary">
            Edit
        </button>


    </footer>
    {{ form_end(edit_form,{'render_rest':false}) }}
</div>


