
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        &times;
    </button>
    <h4 class="modal-title" id="myModalLabel">Activite</h4>
</div>
<div class="modal-body">
    {{ form_start(edit_form,{'attr':{'class':'smart-form','id':'smart-form-register','action':path('activite_edit',{'id':activite.id}),'method':'POST'|trans}})}}

    <section>
        <label class="label">libelleActivite</label>
        <label class="input">
            <i class="icon-append fa fa-tag"></i>
            {{ form_widget(edit_form.libelleActivite,{'attr': {'type':'text','name':'libelleActivite','placeholder':'libelleActivite'|trans}}) }}
            {{ form_errors(edit_form.libelleActivite)}}
        </label>


        <label class="label">AbreviationActivite</label>
        <label class="input">
            <i class="icon-append fa fa-tag"></i>
            {{ form_widget(edit_form.abreviationActivite,{'attr': {'type':'text','name':'abreviationActivite','placeholder':'abreviationActivite'|trans}}) }}
            {{ form_errors(edit_form.abreviationActivite)}}
        </label>


        <label class="label">Employee</label>
        <label class="input">
            <i class="icon-append fa fa-tag"></i>
            {{ form_widget(edit_form.employees,{'attr': {'type':'text','name':'abreviationActivite','placeholder':'abreviationActivite'|trans}}) }}
            {{ form_errors(edit_form.employees)}}
        </label>

    </section>


</div>
<div class="modal-footer">
    {{ form_widget(edit_form._token) }}

    <footer>
        <button type="button" class="btn btn-default" data-dismiss="modal">
            Cancel
        </button>
        <button type="submit" class="btn btn-primary">
            Edit
        </button>


    </footer>
    {{ form_end(edit_form,{'render_rest':false}) }}
</div>


