<div class="modal-header" >
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i><span class="close"></span></button>
    <h2 class="modal-title" id="modal-fa5-label"> Ajouter Formation </h2>
</div>
<div class="modal-body" style=" max-height: 470px; overflow-y: auto;">
    {{ form_start(edit_form,{'attr':{'class':'smart-form','id':'smart-form-register','action':path('formation_edit',{'id':formation.id}),'method':'POST'|trans}})}}
    <div class="panel-group smart-accordion-default" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading " style="background-color: #AC5287">
                <h4 class="panel-title txt-color-white"><a data-toggle="collapse" data-parent="#accordion"
                                                           href="#collapseOne">
                        <i class="fa fa-lg fa-angle-down pull-right txt-color-white"></i>
                        <i class="fa fa-lg fa-angle-up pull-right txt-color-white"></i>
                        Collapsible Group Item #1 </a></h4>
            </div>
            <fieldset id="collapseOne" class="panel-collapse collapse in">
                <header>
                    Ajouter Formation
                </header>

                <fieldset>
                    <div class="row">
                        <section class="col col-6">
                            <label class="label">titre </label>

                            <label class="input"> <i class="icon-append fa fa-user"></i>
                                {{ form_widget(edit_form.titre,{'attr':{'type':'text','placeholder':'Titre'|trans}})}}
                                {{ form_errors(edit_form.titre)}}
                            </label>
                        </section>



                        <section class="col col-6">
                            <label class="label">theme </label>

                            <label class="input"> <i class="icon-append fa fa-briefcase"></i>
                                {{ form_widget(edit_form.theme,{'attr':{'type':'text','placeholder':'Theme'|trans}})}}
                                {{ form_errors(edit_form.theme)}}

                            </label>
                        </section>

                    </div>

                    <div class="row">
                        <section class="col col-6">
                            <label class="label">dateDebut </label>

                            <label class="input"> <i class="icon-append fa fa-calendar"></i>
                                {{ form_widget(edit_form.dateDebut,{'attr':{'class':'startdate'|trans}})}}
                                {{ form_errors(edit_form.dateDebut)}}
                            </label>
                        </section>

                        <section class="col col-6">
                            <label class="label">dateFin </label>
                            <label class="input"> <i class="icon-append fa fa-calendar"></i>
                                {{ form_widget(edit_form.dateFin,{'attr':{'class':'finishdate'|trans}})}}
                                {{ form_errors(edit_form.dateFin)}}

                            </label>
                        </section>
                    </div>
                    <div class="row">

                        <section class="col col-6">
                            <label class="label">coutImateriel </label>
                            <label class="input"> <i class="icon-append fa fa-comment"></i>
                                {{ form_widget(edit_form.coutImateriel ) }}



                            </label>
                        </section>
                        <section class="col col-6">
                            <label class="label">coutMateriel </label>
                            <label class="input"> <i class="icon-append fa fa-comment"></i>
                                {{ form_widget(edit_form.coutMateriel) }}

                            </label>
                        </section>


                    </div>
                    <div class="row">
                        <section class="col col-6">
                            <label class="label">Objectf </label>
                            <label class="textarea"> <i class="icon-append fa fa-comment"></i>
                                {{ form_widget(edit_form.objectif,{'attr':{'type':'text','placeholder':'Tell us about your project'|trans}})}}

                            </label>
                        </section>
                        <section class="col col-6">
                            <label class="label">contenue </label>
                            <label class="textarea"> <i class="icon-append fa fa-comment"></i>
                                {{ form_widget(edit_form.contenue,{'attr':{'type':'text','placeholder':'Tell us about your project'|trans}})}}

                            </label>
                        </section>
                    </div>
                    <div class="row">


                        <section class="col col-4">
                            <label class="label">typeFormation </label>
                            <label class="select">
                                {{ form_widget(edit_form.typeFormation ) }}

                                <i></i>

                            </label>
                        </section>
                        <section class="col col-4">
                            <label class="label">lieu </label>
                            <label class="input"> <i class="icon-append fa fa-comment"></i>
                                {{ form_widget(edit_form.lieu ) }}

                                <i></i>

                            </label>
                        </section>
                        <section class="col col-4">
                            <label class="label">Etat
                                <h2 class="center-block padding-5 alert alert-warning"> en attente </h2>


                            </label>
                        </section>

                    </div>
                    <div class="row">
                        <section>

                            <label class="label"> Formateur

                                <a href="#myNewformateurModal"  class="for"  data-toggle="modal"    rel="tooltip" title="Ajouter type" style="display: none;"> <i class=" glyphicon glyphicon-plus-sign " style="color: #3cb131"></i></a>

                                <label  class="toggle " style=" display: inline; ">
                                    {{ form_widget(edit_form.FormateurInterne,{'attr': {'class':'FormateurInterne'|trans}}) }}
                                    <i data-swchon-text="Externe" data-swchoff-text="Interne"
                                       style="width:60px;transform: scale(1.1); margin-right: -15px ;"></i>
                                </label>

                            </label>

                            <label id="formationsemployee" class="label">liste formateur interne

                                <label  class="select">
                                    {{ form_widget(edit_form.formationsemployee) }}

                                    <i></i>

                                </label>
                            </label>




                        </section></div>



                    <div class="row">
                        <div  class="for"  style="display: none">

                            <label class="label">liste formateur Externe

                                <label class="select">
                                    {{ form_widget(edit_form.formateur) }}

                                    <i></i>

                                </label>
                            </label>


                        </div>
                    </div>



                    <div class=" row smart-form">
                        <section class="col col-4">
                            <label class="label">Reccurence
                                <label class="toggle " style=" display: inline; ">

                                    {{ form_widget(edit_form.reccurence,{'attr': {'class':'reccurence'|trans}}) }}
                                    <i data-swchon-text="Non" data-swchoff-text="Oui"
                                       style="width:60px;transform: scale(1.1); margin-right: -15px ;"> </i>
                                </label></label>
                        </section >

                    </div>

                    <div  class="dv" style="display: none">
                        <div class="row">
                            <section class="col col-4">
                                <label class="label">chaque</label>

                                <label class="input"> <i class="icon-append fa fa-comment"></i>
                                    {{ form_widget(edit_form.chaque) }}
                                    <i></i>
                                </label>
                            </section>


                            <section class=" col col-4 ">
                                <label class="label">periode</label>
                                <label class="select">
                                    {{ form_widget(edit_form.periode) }}

                                    <i></i>
                                </label>
                            </section>


                        </div>


                        <div class="row">




                            {% for child in edit_form.finApres %}
                                {% if child.vars.value == 1 %}
                                    <section class="col col-6">
                                        <label class="radio">
                                            <label class="radio">
                                                {{ form_widget(child, { 'attr': {'type':'radio','checked':'checked'}}) }}
                                                <i></i>{{ form_label(child) }}</label>
                                        </label>
                                    </section>
                                {% else %}
                                    <section class="col col-6">
                                        <label class="radio">
                                            {{ form_widget(child, { 'attr': {'type':'radio'}}) }}
                                            <i></i>{{ form_label(child) }}</label>
                                    </section>
                                {% endif %}
                            {% endfor %}


                        </div>
                        <div class="row" >


                            <section class="col col-6">
                                <label class="label">Ocurrancedate</label>
                                <label class="input"> <i class="icon-append fa fa-calendar"></i>
                                    {{ form_widget(edit_form.Ocurrancedate,{'attr':{'class':'date'|trans}})}}
                                    {{ form_widget(edit_form.Ocurrancedate) }}
                                </label>
                            </section>


                            <section class="col col-6">
                                <label class="label">Ocurrance</label>

                                <label class="input"> <i class="icon-append fa fa-comment"></i>
                                    {{ form_widget(edit_form.OcurranceNbj) }}

                                    <i></i>

                                </label>
                            </section>



                        </div>


                    </div>
                </fieldset>
            </fieldset>
        </div></div></div>

<div class="modal-footer">
    {{ form_widget(edit_form._token) }}

    <footer>
        <button type="button" class="btn btn-default" data-dismiss="modal">
            Annuler
        </button>
        <button type="submit" class="btn btn-primary">
            Enregiter
        </button>


    </footer>
    {{ form_end(edit_form,{'render_rest':false}) }}
</div>

