{% extends 'base.html.twig' %}

{% block body %}
    <h1>Absence</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ absence.id }}</td>
            </tr>
            <tr>
                <th>Justifier</th>
                <td>{{ absence.justifier }}</td>
            </tr>
            <tr>
                <th>Datedebut</th>
                <td>{% if absence.dateDebut %}{{ absence.dateDebut|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Datefin</th>
                <td>{% if absence.dateFin %}{{ absence.dateFin|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ absence.etat }}</td>
            </tr>
            <tr>
                <th>Integere</th>
                <td>{{ absence.integere }}</td>
            </tr>
            <tr>
                <th>Commentaire</th>
                <td>{{ absence.commentaire }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('absence_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('absence_edit', { 'id': absence.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
